[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"

# Exclude script folder from test and coverage discovery
no_match_test = "script/**"
no_match_coverage = "script/**"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
